.env
dev/
env/
__pycache__/
data/
output/
assets/
.chainlit/
.files/
.ruff_cache/
bm25s_index/
data_imgs/
llama_index_ttam/
test_data/
test_out_docx/
models/
html_data/
quydinh_huongdan.zip
link_html.txt
.cache
.env.production
output_folder/
test_read.py
